* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #000;
}
.container {
  max-width: 40rem;
  width: 90%;
  // height: 30rem;
  margin: 3rem auto 0 auto;
  // border: 2px solid red;
  padding: 10px;

  header {
    display: flex;
    align-items: center;

    // border: 1px solid;
    margin-bottom: 1.2rem;
    div {
      width: 5rem;
      // border: 2px solid white;

      margin-right: 1rem;
      border-radius: 50%;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
  input[type='text'] {
    padding-left: 10px;
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    background-color: #181a26;
    border: 0;
  }
  input[type='text']:focus {
    outline: none;
  }
  .githubProfile {
    display: none;
    // border: 2px solid yellow;
    margin-top: 1rem;
    border-radius: 8px;
    padding: 10px;
    background-color: #181a26;
    .profileDetails {
      display: flex;
      .profileIcon {
        background-color: #fff;
        width: 20%;
        border: 2px solid;
        // height: 8rem;
        margin-right: 7%;
        border-radius: 50%;
        img {
          border-radius: 50%;

          width: 100%;
          height: 100%;
        }
      }
      div + div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // border: 1px solid;
        width: 70%;
        padding: 5px;
      }
    }
    .activity {
      padding: 10px;
      // border: 1px solid green;
      margin-top: 2rem;
      display: flex;
      justify-content: space-around;
      border-radius: 8px;
      background-color: #000;
      li {
        // border: 1px solid purple;
        text-align: center;
        h3 {
          span {
            margin-top: 1rem;
            display: block;
          }
        }
      }
    }
    .user-details {
      margin-top: 1rem;
      // border: 2px solid;
      padding: 5px;
      li {
        // border: 1px solid red;
        margin-bottom: 0.3rem;
        i {
          width: 5%;
          font-size: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
